/* src/App.css */

.App {
  /* This centers the content on the page */
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}


/* Use the className from your VariableProximity component */
.variable-proximity-demo {
  color: white;
    font-size: clamp(1rem, 2.5vw, 4rem)
}
